*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

.comida-container {
width: 100vw;
height: 100vh;
background-color: white;

display: grid;
justify-content: center;
align-items: center;
grid-template-columns: 2fr 2fr 2fr;
}

.card {
  width: 20vw;
  height: 20vh;
  background-color: gray;
}

.nombre {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: black;
}

